:root{
    --header-padding: 3.5rem;
    --footer-padding: 1.5rem;
}
/* выставить отступы на header и footer */
section{
    padding: var(--header-padding) 0 var(--footer-padding);
}
/* изменяет цвет item меню при наведении */
.navbar .nav-link:hover,
.navbar .dropdown-item:hover
{
    color: #07a3a3;
}
/* округляем img на главной странице */
.img-radius{
    width: 70%;
    border-radius: 50%;
}
/* выравнивает текст по ширине */
.align-just{
    text-align: justify;
}
